body * {
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h1 {
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
}

/* Center the whole content on the page */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

/* Adjust the .page container */
.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 950px; /* Adjust to your desired width */
    background-color: white;
    padding: 50px;
    padding-top: 35px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 20px;
}

.desc-head {
    position: relative;
    background-color: #CCE0AC;
    text-align: center;
    width: 130%; /* Reduce the width to ensure it doesn't overflow */
    padding: 1px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    margin: 0 auto; /* This centers the green box horizontally */
    margin-top: 12px;
    margin-left: -55px; /* This moves the green box to the left */
    display: block;
    font-size: 17px; /* Change this value to adjust the font size */
}

.pure-img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
  }
  
  .trade-image-left {
    max-width: 70%; /* Ensure the image is responsive */
    height: auto;
    display: block;
    margin-left: 10px; /* Move the left image by 150px */
  }
  
  .trade-image-right {
    max-width: 67%; /* Ensure the image is responsive */
    height: auto;
    display: block;
    padding-left: 90px;
    margin-right: 10px; /* Move the right image by 150px */
  }
  

/* Center and style the map container */
.map-container{
    position: relative;
    width: 890px; /* Adjust width as necessary */
    height: auto;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    
}

.desc-map {
    position: relative;
    background-color: #CCE0AC;
    text-align: center;
    width: 90%; /* Reduce the width to ensure it doesn't overflow */
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    margin: 0 auto; /* This centers the green box horizontally */
    margin-top: 1px;
    margin-left: 35px; /* This moves the green box to the left */
    font-size: 16px; /* Change this value to adjust the font size */
    display: block;
}

.vis1-container {
    position: relative;
    display: flex;
    width: 890px; /* Adjust width as necessary */
    height: auto;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 10px;
    margin-bottom: 40px;
    background-color: #fff;
    justify-content: space-around;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.desc-chart1{
    position: relative;
    background-color: #CCE0AC;
    text-align: center;
    width: 89%; /* Reduce the width to ensure it doesn't overflow */
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    margin: 0 auto; /* This centers the green box horizontally */
    margin-top: 1px;
    margin-left: 35px; /* This moves the green box to the left */
    font-size: 16px; /* Change this value to adjust the font size */
    display: block;
}

/* Dropdown menu positioning relative to its container */
#dropdown {
    position: absolute;
    padding-top: 15px;
    padding-bottom: 100px;
    bottom: 40px;
    left: 65%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust to true center */
}
#dropdown label {
    font-size: 14px; /* Change the label font size */
    font-weight: bold; /* Optional: make the label bold */
}

/* Styling for the select element */
#dropdown select {
    font-size: 14px; /* Change the font size of the select dropdown */
}

.vis2-container {
    position: relative;
    display: flex;
    width: 890px; /* Adjust width as necessary */
    height: auto;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    justify-content: space-around;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.desc-chart2{
    position: relative;
    background-color: #CCE0AC;
    text-align: center;
    width: 87%; /* Reduce the width to ensure it doesn't overflow */
    padding: 2px;
    padding-left: 10px;
    border-radius: 5px;
    margin: 0 auto; /* This centers the green box horizontally */
    margin-top: 1px;
    margin-left: 35px; /* This moves the green box to the left */
    font-size: 16px; /* Change this value to adjust the font size */
    display: block;
}