body * {
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h1 {
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
}

/* Center the whole content on the page */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

/* Adjust the .page container */
.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 950px; /* Adjust to your desired width */
    background-color: white;
    padding: 50px;
    padding-top: 35px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 20px;
}

.desc-head {
    position: relative;
    background-color: #CCE0AC;
    text-align: center;
    width: 900px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 5px;
    margin-left: 15px;
}


/* Center and style the map container */
.map-container{
    position: relative;
    width: 890px; /* Adjust width as necessary */
    height: auto;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 5px;
    padding-top: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    
}

.vis-container {
    position: relative;
    display: flex;
    width: 900px; /* Adjust width as necessary */
    height: auto;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-top: 20px;
    background-color: #fff;
    justify-content: space-around;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.vis-item {
    flex: 1; /* Each visualization takes equal space */
    padding-left: 90px ;
    padding-right: 30px ;
    border-radius: 5px;
    margin: 0 10px; /* Spacing between graphs */
    background-color: white;
}


/* Dropdown menu positioning relative to its container */
#dropdown {
    position: absolute;
    padding-top: 15px;
    bottom: 10px;
    left: 77%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust to true center */
}
#dropdown label {
    font-size: 15px; /* Change the label font size */
    font-weight: bold; /* Optional: make the label bold */
}

/* Styling for the select element */
#dropdown select {
    font-size: 15px; /* Change the font size of the select dropdown */
}

.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 20px;
}

.small-font {
    font-size: 14px;
}
